<div class="container-fluid">
  <h1 class="display-4" style="text-align: center">Create Your Professional CV in a minutes</h1>

  <hr class="my-4">

  <!--TABLINKS-->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home" aria-selected="true">General</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="profile" aria-selected="false">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="work-exp-tab" data-toggle="tab" href="#work" role="tab" aria-controls="contact" aria-selected="false">Work Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="contact" aria-selected="false">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="bobbies-tab" data-toggle="tab" href="#hobbies" role="tab" aria-controls="contact" aria-selected="false">Hobbies</a>
    </li>
  </ul>

  <div class="row">
    <div style="text-align: center" class="col-lg-6 col-md-6 col-sm-12">

      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab" style="min-height: 700px">
         <app-pdf-general></app-pdf-general>
        </div>

        <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab" style="min-height: 700px">SKILLS</div>
        <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-exp-tab" style="min-height: 700px">WORK EXPERIENCE</div>
        <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab" style="min-height: 700px">EDUCATION</div>
        <div class="tab-pane fade" id="hobbies" role="tabpanel" aria-labelledby="hobbies-tab" style="min-height: 700px">Hobbies</div>

      </div>

      <hr>

      <!--BUTTONS-->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <button id="flyer_preview_btn" type="button" class="btn btn-primary btn-block" tabindex="9" (click)="previewPdf()">Update preview</button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <button id="flyer_download_btn" type="button" class="btn btn-primary btn-block" tabindex="10" (click)="downloadPdf()">Download</button>
          </div>
        </div>
      </div>

    </div>

    <!--PDF VIEW-->
    <div class="col-lg-6 col-md-6 col-sm-12">
      <iframe class="resp-iframe" #iframe type="application/pdf" src="" style="max-height: 800px"></iframe>
    </div>

  </div>

</div>
