<div class="container-fluid">
  <h1 class="display-4" style="text-align: center">Create Pdf just in seconds!</h1>

  <hr class="my-4">

  <div class="row">
    <div style="text-align: center" class="col-lg-6 col-md-6 col-sm-12">

      <div class="row">
        <div class="col-12">

          <div class="form-group">
            <img *ngIf="imageSrc" [src]="imageSrc" width="120px" height="120px" (click)="image.click()" style="cursor: pointer">
            <img *ngIf="!imageSrc" src="../../../assets/app/images/Placeholder.jpg" width="120px" height="120px" (click)="image.click()" style="cursor: pointer">
            <input hidden #image (change)="readURL($event);" type="file" tabindex="1">
          </div>
        </div>
      </div>

      <hr class="my-4">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="cv-title" class="control-label">Document Title</label>
            <input required class="form-control" id="cv-title" placeholder="Main title" [(ngModel)]="PDFDocument.title" maxlength="255" type="text" tabindex="2">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="cv-name" class="control-label">Name</label>
            <input required class="form-control" id="cv-name" placeholder="Your Name" [(ngModel)]="PDFDocument.name" maxlength="50" type="text" tabindex="3">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="flyer-description">Description</label>
        <textarea class="form-control" id="flyer-description" placeholder="Insert a short description taking care of the available space">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, nihil officia neque ad expedita consequatur quae! Voluptate, incidunt, earum, sit, eveniet harum ratione expedita quibusdam possimus sed laboriosam dolore ut recusandae eos. Ipsa,natus pariatur iste dolorum optio nostrum consectetur!</textarea>
      </div>

      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <button id="flyer_preview_btn" type="button" class="btn btn-primary btn-block" tabindex="9" (click)="previewPdf()">Update preview</button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <button id="flyer_download_btn" type="button" class="btn btn-primary btn-block" tabindex="10">Download</button>
          </div>
        </div>
      </div>


    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <iframe class="resp-iframe" #iframe type="application/pdf" src=""></iframe>
    </div>

  </div>

</div>
