.resp-iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  border: solid 1px black;
}

::ng-deep input {
  background: aliceblue;
  color: black;
}

::ng-deep textarea {
  background: aliceblue;
  color: black;
}

::ng-deep .form-group {
  text-align: -webkit-left;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5)
}

