<div class="row" style="text-align: left; padding: 5px">
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary btn-sm" (click)="addExperience()">Add work Experience</button>
  </div>
</div>

<ng-container *ngFor="let exp of service.pdfDocument.workExperience; let i=index">
  <div style="border: 1px solid rgba(118,118,118,0.46); margin-top: 15px; border-radius: 10px; padding: 5px">
    <div class="row">
      <div class="col-12">
        <button type="button"
                placement="bottom"
                ngbTooltip="Delete whole section"
                class="btn btn-danger btn-sm float-left"
                (click)="removeRowFromWorkExperience(i)">
          <i class="fa fa-trash"></i> Remove Work Experience
        </button>
      </div>
      <div class="col-6">
        <div class="form-group" style="margin-top: 32px">
          <div class="input-group">
            <input class="form-control" placeholder="start date"
                   name="dp" [(ngModel)]="exp.startDate" ngbDatepicker #sd="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                      (click)="sd.toggle()"
                      type="button"><i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group" style="margin-top: 32px">
          <div class="input-group">
            <input class="form-control" placeholder="end date"
                   name="dp" [(ngModel)]="exp.endDate" ngbDatepicker #ed="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                      (click)="ed.toggle()"
                      type="button"><i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <input required
                 class="form-control"
                 id="{{'cv-role' + i}}"
                 placeholder="Your role"
                 [(ngModel)]="exp.role"
                 maxlength="50"
                 type="text"
                 tabindex="3">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <input required class="form-control" placement="top"
                 placeholder="The company you worked for"
                 id="{{'cv-company-name' + i}}"
                 [(ngModel)]="exp.companyName"
                 maxlength="50"
                 type="text"
                 tabindex="3">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div style="float: right">
        <app-remaining-characters
          [textToCheck]="exp.description"
          [maxLength]="workExperienceSummaryMaxCharacters">
        </app-remaining-characters>
      </div>
      <label for="cv-workExpSummary"></label>
        <textarea class="form-control"
                  maxlength="{{workExperienceSummaryMaxCharacters}}"
                  rows="8"
                  id="cv-workExpSummary"
                  placeholder="Insert a short summary of your work experience"
                  tabindex="5"
                  [(ngModel)]="exp.description">
      </textarea>
    </div>
  </div>

</ng-container>

